<!DOCTYPE html>
<html>
<head>
    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.0/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_09fdd3d7a2d88fcd8a8cf38932721128 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
                .leaflet-container { font-size: 1rem; }
            </style>
        
</head>
<body>
    
    
            <div class="folium-map" id="map_09fdd3d7a2d88fcd8a8cf38932721128" ></div>
        
</body>
<script>
    
    
            var map_09fdd3d7a2d88fcd8a8cf38932721128 = L.map(
                "map_09fdd3d7a2d88fcd8a8cf38932721128",
                {
                    center: [-6.879957644004078, 107.61387909559816],
                    crs: L.CRS.EPSG3857,
                    zoom: 17,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_377f1f8c0582d31fc771f4c84405f622 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca target=\"_blank\" href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca target=\"_blank\" href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_09fdd3d7a2d88fcd8a8cf38932721128);
        
    
            var marker_c79eefbba4448889efb5dad26161bcb8 = L.marker(
                [-6.879290656604597, 107.61258245513986],
                {}
            ).addTo(map_09fdd3d7a2d88fcd8a8cf38932721128);
        
    
        var popup_d375173a6bd564f27a7147b9bf8ece56 = L.popup({"maxWidth": "100%"});

        
            
                var html_d86c318a9e62d563e5a7b6763eb9bda9 = $(`<div id="html_d86c318a9e62d563e5a7b6763eb9bda9" style="width: 100.0%; height: 100.0%;">simpang sadikin</div>`)[0];
                popup_d375173a6bd564f27a7147b9bf8ece56.setContent(html_d86c318a9e62d563e5a7b6763eb9bda9);
            
        

        marker_c79eefbba4448889efb5dad26161bcb8.bindPopup(popup_d375173a6bd564f27a7147b9bf8ece56)
        ;

        
    
    
            var marker_ca3184bc2b54977703afbbddca02be29 = L.marker(
                [-6.879319790375955, 107.61283800273434],
                {}
            ).addTo(map_09fdd3d7a2d88fcd8a8cf38932721128);
        
    
        var popup_d31d4409469154f273b8eb12c7d55e3a = L.popup({"maxWidth": "100%"});

        
            
                var html_bb9242fae0480b0e689a9f416a299f14 = $(`<div id="html_bb9242fae0480b0e689a9f416a299f14" style="width: 100.0%; height: 100.0%;">simpang alpina</div>`)[0];
                popup_d31d4409469154f273b8eb12c7d55e3a.setContent(html_bb9242fae0480b0e689a9f416a299f14);
            
        

        marker_ca3184bc2b54977703afbbddca02be29.bindPopup(popup_d31d4409469154f273b8eb12c7d55e3a)
        ;

        
    
    
            var marker_84418359d1a1998cd90cbf664239c901 = L.marker(
                [-6.879616251410727, 107.61202593243291],
                {}
            ).addTo(map_09fdd3d7a2d88fcd8a8cf38932721128);
        
    
        var popup_0772a82a87bc350520b6f3f9260967e0 = L.popup({"maxWidth": "100%"});

        
            
                var html_c7473fc2250b81e9e89014c0ea97c7c0 = $(`<div id="html_c7473fc2250b81e9e89014c0ea97c7c0" style="width: 100.0%; height: 100.0%;">simpang indomaret cisitu</div>`)[0];
                popup_0772a82a87bc350520b6f3f9260967e0.setContent(html_c7473fc2250b81e9e89014c0ea97c7c0);
            
        

        marker_84418359d1a1998cd90cbf664239c901.bindPopup(popup_0772a82a87bc350520b6f3f9260967e0)
        ;

        
    
    
            var marker_b5b217e17538e147c4df300a9061e366 = L.marker(
                [-6.879807224382633, 107.61430888221496],
                {}
            ).addTo(map_09fdd3d7a2d88fcd8a8cf38932721128);
        
    
        var popup_1a5ddde838ad363d1566ec9fe53d960a = L.popup({"maxWidth": "100%"});

        
            
                var html_14534bdd5901af631db8692368f24360 = $(`<div id="html_14534bdd5901af631db8692368f24360" style="width: 100.0%; height: 100.0%;">simpang asrama kidang pananjung itb</div>`)[0];
                popup_1a5ddde838ad363d1566ec9fe53d960a.setContent(html_14534bdd5901af631db8692368f24360);
            
        

        marker_b5b217e17538e147c4df300a9061e366.bindPopup(popup_1a5ddde838ad363d1566ec9fe53d960a)
        ;

        
    
    
            var marker_7e581e7284408532f7c34a14ff3e4998 = L.marker(
                [-6.876734, 107.612927],
                {}
            ).addTo(map_09fdd3d7a2d88fcd8a8cf38932721128);
        
    
        var popup_38d816b750a861519b071feeaaa8203e = L.popup({"maxWidth": "100%"});

        
            
                var html_1fc90245d56203df457f40f520109cc4 = $(`<div id="html_1fc90245d56203df457f40f520109cc4" style="width: 100.0%; height: 100.0%;">nasgor portugal</div>`)[0];
                popup_38d816b750a861519b071feeaaa8203e.setContent(html_1fc90245d56203df457f40f520109cc4);
            
        

        marker_7e581e7284408532f7c34a14ff3e4998.bindPopup(popup_38d816b750a861519b071feeaaa8203e)
        ;

        
    
    
            var marker_c7a23360a13a07f30044f9c2a6c50b82 = L.marker(
                [-6.882836344622385, 107.61167076619141],
                {}
            ).addTo(map_09fdd3d7a2d88fcd8a8cf38932721128);
        
    
        var popup_955895e68bd2dbcecb21c50bb0034f59 = L.popup({"maxWidth": "100%"});

        
            
                var html_2097a5057784ff551a1e5626e79af457 = $(`<div id="html_2097a5057784ff551a1e5626e79af457" style="width: 100.0%; height: 100.0%;">simpang dermaga kopi</div>`)[0];
                popup_955895e68bd2dbcecb21c50bb0034f59.setContent(html_2097a5057784ff551a1e5626e79af457);
            
        

        marker_c7a23360a13a07f30044f9c2a6c50b82.bindPopup(popup_955895e68bd2dbcecb21c50bb0034f59)
        ;

        
    
    
            var marker_6a224395ce566346fc6c81caa8dcd356 = L.marker(
                [-6.882910049424211, 107.61125540465267],
                {}
            ).addTo(map_09fdd3d7a2d88fcd8a8cf38932721128);
        
    
        var popup_18a369b14c2e5bc7c944b6ee66451319 = L.popup({"maxWidth": "100%"});

        
            
                var html_f724e992a297cf3f2cb2f11692191937 = $(`<div id="html_f724e992a297cf3f2cb2f11692191937" style="width: 100.0%; height: 100.0%;">simpang nasgor tombo lapar</div>`)[0];
                popup_18a369b14c2e5bc7c944b6ee66451319.setContent(html_f724e992a297cf3f2cb2f11692191937);
            
        

        marker_6a224395ce566346fc6c81caa8dcd356.bindPopup(popup_18a369b14c2e5bc7c944b6ee66451319)
        ;

        
    
    
            var marker_8028e4b825dcebe18ae32b2728c4bfc2 = L.marker(
                [-6.883734705833403, 107.61123685708792],
                {}
            ).addTo(map_09fdd3d7a2d88fcd8a8cf38932721128);
        
    
        var popup_baa0f1d91424d8bad30d9fc4cbb5e7ab = L.popup({"maxWidth": "100%"});

        
            
                var html_939b795243073a680dac0428006cb471 = $(`<div id="html_939b795243073a680dac0428006cb471" style="width: 100.0%; height: 100.0%;">simpang sangkuring cisitu</div>`)[0];
                popup_baa0f1d91424d8bad30d9fc4cbb5e7ab.setContent(html_939b795243073a680dac0428006cb471);
            
        

        marker_8028e4b825dcebe18ae32b2728c4bfc2.bindPopup(popup_baa0f1d91424d8bad30d9fc4cbb5e7ab)
        ;

        
    
    
            var marker_2012667f0e46b677b60459551c8ac131 = L.marker(
                [-6.883378937465031, 107.61125103709509],
                {}
            ).addTo(map_09fdd3d7a2d88fcd8a8cf38932721128);
        
    
        var popup_5dba481aae1f27b77783aa752f7fce11 = L.popup({"maxWidth": "100%"});

        
            
                var html_04ef25d8699f1ae94ee21e69153f2cfa = $(`<div id="html_04ef25d8699f1ae94ee21e69153f2cfa" style="width: 100.0%; height: 100.0%;">simpang cisitu lama baru</div>`)[0];
                popup_5dba481aae1f27b77783aa752f7fce11.setContent(html_04ef25d8699f1ae94ee21e69153f2cfa);
            
        

        marker_2012667f0e46b677b60459551c8ac131.bindPopup(popup_5dba481aae1f27b77783aa752f7fce11)
        ;

        
    
    
            var marker_d30286e00f3501d163de7f9ee36c5e36 = L.marker(
                [-6.883382862085628, 107.61200628053746],
                {}
            ).addTo(map_09fdd3d7a2d88fcd8a8cf38932721128);
        
    
        var popup_bdcad3682507a1e5c6fd5c79df9c783f = L.popup({"maxWidth": "100%"});

        
            
                var html_44be9b9c3408cf1557bc8a55b6f2a2a7 = $(`<div id="html_44be9b9c3408cf1557bc8a55b6f2a2a7" style="width: 100.0%; height: 100.0%;">simpang cisitu baru</div>`)[0];
                popup_bdcad3682507a1e5c6fd5c79df9c783f.setContent(html_44be9b9c3408cf1557bc8a55b6f2a2a7);
            
        

        marker_d30286e00f3501d163de7f9ee36c5e36.bindPopup(popup_bdcad3682507a1e5c6fd5c79df9c783f)
        ;

        
    
    
            var marker_c5cb61ff5dbd7a8f9dee311895afcef7 = L.marker(
                [-6.884427161864515, 107.61379914556336],
                {}
            ).addTo(map_09fdd3d7a2d88fcd8a8cf38932721128);
        
    
        var popup_f4ae6cb6761e3f7c75f92384816acefd = L.popup({"maxWidth": "100%"});

        
            
                var html_e20cb66a53315e406e9dae8b5e1667e5 = $(`<div id="html_e20cb66a53315e406e9dae8b5e1667e5" style="width: 100.0%; height: 100.0%;">simpang cisitu dago</div>`)[0];
                popup_f4ae6cb6761e3f7c75f92384816acefd.setContent(html_e20cb66a53315e406e9dae8b5e1667e5);
            
        

        marker_c5cb61ff5dbd7a8f9dee311895afcef7.bindPopup(popup_f4ae6cb6761e3f7c75f92384816acefd)
        ;

        
    
    
            var marker_ab1af1f5ea68a41f98160b544e947ac6 = L.marker(
                [-6.883686378119053, 107.61405563792717],
                {}
            ).addTo(map_09fdd3d7a2d88fcd8a8cf38932721128);
        
    
        var popup_611d4b12e69713b7e289c677f9088ab3 = L.popup({"maxWidth": "100%"});

        
            
                var html_ed2c44bdcfa694f288d7187ab61760fe = $(`<div id="html_ed2c44bdcfa694f288d7187ab61760fe" style="width: 100.0%; height: 100.0%;">simpang dago kidang pananjung</div>`)[0];
                popup_611d4b12e69713b7e289c677f9088ab3.setContent(html_ed2c44bdcfa694f288d7187ab61760fe);
            
        

        marker_ab1af1f5ea68a41f98160b544e947ac6.bindPopup(popup_611d4b12e69713b7e289c677f9088ab3)
        ;

        
    
    
            var marker_25db1fb292f9861f1b3dd9e34c6fe3b3 = L.marker(
                [-6.882448573870303, 107.61391896977317],
                {}
            ).addTo(map_09fdd3d7a2d88fcd8a8cf38932721128);
        
    
        var popup_5c7db488205622b587306f9853fce62e = L.popup({"maxWidth": "100%"});

        
            
                var html_b36f3e3c47c370e45ee6498cb98163db = $(`<div id="html_b36f3e3c47c370e45ee6498cb98163db" style="width: 100.0%; height: 100.0%;">simpang kozi</div>`)[0];
                popup_5c7db488205622b587306f9853fce62e.setContent(html_b36f3e3c47c370e45ee6498cb98163db);
            
        

        marker_25db1fb292f9861f1b3dd9e34c6fe3b3.bindPopup(popup_5c7db488205622b587306f9853fce62e)
        ;

        
    
    
            var marker_ec1c0848a95fa127d043f5487a14ad5a = L.marker(
                [-6.879935086874405, 107.61475841837175],
                {}
            ).addTo(map_09fdd3d7a2d88fcd8a8cf38932721128);
        
    
        var popup_58cfcb13d91f2885d5dc7482bdbd267d = L.popup({"maxWidth": "100%"});

        
            
                var html_eedcb973bf40b1b66703a3527a65c833 = $(`<div id="html_eedcb973bf40b1b66703a3527a65c833" style="width: 100.0%; height: 100.0%;">simpang cisgar</div>`)[0];
                popup_58cfcb13d91f2885d5dc7482bdbd267d.setContent(html_eedcb973bf40b1b66703a3527a65c833);
            
        

        marker_ec1c0848a95fa127d043f5487a14ad5a.bindPopup(popup_58cfcb13d91f2885d5dc7482bdbd267d)
        ;

        
    
    
            var marker_5ffeecba7fa294c7b82233fec9b4efa7 = L.marker(
                [-6.8764852225931214, 107.61207900302091],
                {}
            ).addTo(map_09fdd3d7a2d88fcd8a8cf38932721128);
        
    
        var popup_31cc028dd93c931373847a926d418f17 = L.popup({"maxWidth": "100%"});

        
            
                var html_b0f306b8f48ad0382702a7f044ea05fa = $(`<div id="html_b0f306b8f48ad0382702a7f044ea05fa" style="width: 100.0%; height: 100.0%;">simpang cisitu indah 2 3</div>`)[0];
                popup_31cc028dd93c931373847a926d418f17.setContent(html_b0f306b8f48ad0382702a7f044ea05fa);
            
        

        marker_5ffeecba7fa294c7b82233fec9b4efa7.bindPopup(popup_31cc028dd93c931373847a926d418f17)
        ;

        
    
    
            var marker_77b75e1f451b3d1067a7f49473a304cd = L.marker(
                [-6.87594358956996, 107.61223036489227],
                {}
            ).addTo(map_09fdd3d7a2d88fcd8a8cf38932721128);
        
    
        var popup_3f887c54b9a2e20937f5bd296f8a23b1 = L.popup({"maxWidth": "100%"});

        
            
                var html_50bc4a310809e1abec2e939bf771921d = $(`<div id="html_50bc4a310809e1abec2e939bf771921d" style="width: 100.0%; height: 100.0%;">simpang cisitsu indah 3 4</div>`)[0];
                popup_3f887c54b9a2e20937f5bd296f8a23b1.setContent(html_50bc4a310809e1abec2e939bf771921d);
            
        

        marker_77b75e1f451b3d1067a7f49473a304cd.bindPopup(popup_3f887c54b9a2e20937f5bd296f8a23b1)
        ;

        
    
    
            var marker_60a2e276e3f35fbbff0a85d469c12883 = L.marker(
                [-6.87548812614364, 107.61236063121113],
                {}
            ).addTo(map_09fdd3d7a2d88fcd8a8cf38932721128);
        
    
        var popup_0860090bf3850b4837433e8d6aa984b8 = L.popup({"maxWidth": "100%"});

        
            
                var html_32538cc35dddfea5ee9e87a45b401ae6 = $(`<div id="html_32538cc35dddfea5ee9e87a45b401ae6" style="width: 100.0%; height: 100.0%;">simpang cili korner</div>`)[0];
                popup_0860090bf3850b4837433e8d6aa984b8.setContent(html_32538cc35dddfea5ee9e87a45b401ae6);
            
        

        marker_60a2e276e3f35fbbff0a85d469c12883.bindPopup(popup_0860090bf3850b4837433e8d6aa984b8)
        ;

        
    
    
            var marker_78ac296c60fd526c077d38ea1b2ca1ae = L.marker(
                [-6.8756134543451575, 107.6131335337327],
                {}
            ).addTo(map_09fdd3d7a2d88fcd8a8cf38932721128);
        
    
        var popup_28899fd5e5e5cdb4f7c624490d91aad6 = L.popup({"maxWidth": "100%"});

        
            
                var html_f878b0012152e89bad42b966ff464eee = $(`<div id="html_f878b0012152e89bad42b966ff464eee" style="width: 100.0%; height: 100.0%;">gor cisitu</div>`)[0];
                popup_28899fd5e5e5cdb4f7c624490d91aad6.setContent(html_f878b0012152e89bad42b966ff464eee);
            
        

        marker_78ac296c60fd526c077d38ea1b2ca1ae.bindPopup(popup_28899fd5e5e5cdb4f7c624490d91aad6)
        ;

        
    
    
            var marker_bd8cbaf5b4776e91bd818f475335fd52 = L.marker(
                [-6.877107550223327, 107.61472524305452],
                {}
            ).addTo(map_09fdd3d7a2d88fcd8a8cf38932721128);
        
    
        var popup_695fa4192f94f7c8b429bd786df9af05 = L.popup({"maxWidth": "100%"});

        
            
                var html_dd5917e0f5d8cb93f8c4d3aae9bae959 = $(`<div id="html_dd5917e0f5d8cb93f8c4d3aae9bae959" style="width: 100.0%; height: 100.0%;">simpang cisitu indah dagas</div>`)[0];
                popup_695fa4192f94f7c8b429bd786df9af05.setContent(html_dd5917e0f5d8cb93f8c4d3aae9bae959);
            
        

        marker_bd8cbaf5b4776e91bd818f475335fd52.bindPopup(popup_695fa4192f94f7c8b429bd786df9af05)
        ;

        
    
    
            var marker_6b0ffc3dee7e550b0602dc890b9c9e80 = L.marker(
                [-6.8783213811870265, 107.61321340059672],
                {}
            ).addTo(map_09fdd3d7a2d88fcd8a8cf38932721128);
        
    
        var popup_ab46dfd5b40eef20a7f1ce420cdb5848 = L.popup({"maxWidth": "100%"});

        
            
                var html_3e78e10631bb028af0dbab8a0b92bd01 = $(`<div id="html_3e78e10631bb028af0dbab8a0b92bd01" style="width: 100.0%; height: 100.0%;">simpang alpina dagas 4</div>`)[0];
                popup_ab46dfd5b40eef20a7f1ce420cdb5848.setContent(html_3e78e10631bb028af0dbab8a0b92bd01);
            
        

        marker_6b0ffc3dee7e550b0602dc890b9c9e80.bindPopup(popup_ab46dfd5b40eef20a7f1ce420cdb5848)
        ;

        
    
    
            var marker_f47a8bea6a9189ab1a5328b87d331e96 = L.marker(
                [-6.878674921513658, 107.61435168305536],
                {}
            ).addTo(map_09fdd3d7a2d88fcd8a8cf38932721128);
        
    
        var popup_a0dc00d485b6de744d1797a0236ca21b = L.popup({"maxWidth": "100%"});

        
            
                var html_b3e9304ac7b7c106bee3cded3d51a10b = $(`<div id="html_b3e9304ac7b7c106bee3cded3d51a10b" style="width: 100.0%; height: 100.0%;">simpang dagas 2 4 5 </div>`)[0];
                popup_a0dc00d485b6de744d1797a0236ca21b.setContent(html_b3e9304ac7b7c106bee3cded3d51a10b);
            
        

        marker_f47a8bea6a9189ab1a5328b87d331e96.bindPopup(popup_a0dc00d485b6de744d1797a0236ca21b)
        ;

        
    
    
            var marker_47b7eb3e4b7d06a1154121bf7bee63fd = L.marker(
                [-6.878318056126893, 107.61448180155028],
                {}
            ).addTo(map_09fdd3d7a2d88fcd8a8cf38932721128);
        
    
        var popup_2cc4d3dac85049ca6d60ac3ecd614aec = L.popup({"maxWidth": "100%"});

        
            
                var html_1258c9094520409ec2fdca8172c3773a = $(`<div id="html_1258c9094520409ec2fdca8172c3773a" style="width: 100.0%; height: 100.0%;">simpang dagas 2 raya</div>`)[0];
                popup_2cc4d3dac85049ca6d60ac3ecd614aec.setContent(html_1258c9094520409ec2fdca8172c3773a);
            
        

        marker_47b7eb3e4b7d06a1154121bf7bee63fd.bindPopup(popup_2cc4d3dac85049ca6d60ac3ecd614aec)
        ;

        
    
    
            var marker_cd7fda0b8e21244155d847fcf0f3a03c = L.marker(
                [-6.8783914316229415, 107.61527413949476],
                {}
            ).addTo(map_09fdd3d7a2d88fcd8a8cf38932721128);
        
    
        var popup_abebb8c4ad2bc101cbb7ff008a75ac02 = L.popup({"maxWidth": "100%"});

        
            
                var html_743d0d32c04474b09be5b86b63b6733d = $(`<div id="html_743d0d32c04474b09be5b86b63b6733d" style="width: 100.0%; height: 100.0%;">simpang dagas gym</div>`)[0];
                popup_abebb8c4ad2bc101cbb7ff008a75ac02.setContent(html_743d0d32c04474b09be5b86b63b6733d);
            
        

        marker_cd7fda0b8e21244155d847fcf0f3a03c.bindPopup(popup_abebb8c4ad2bc101cbb7ff008a75ac02)
        ;

        
    
    
            var marker_8b86c4f835d0e429a36df43ab2bb4754 = L.marker(
                [-6.8775963166017, 107.61536715478714],
                {}
            ).addTo(map_09fdd3d7a2d88fcd8a8cf38932721128);
        
    
        var popup_4bd02894b0de54dccd9649d0e2eba130 = L.popup({"maxWidth": "100%"});

        
            
                var html_b2def93fa1fa56cfc53636ebec51de5a = $(`<div id="html_b2def93fa1fa56cfc53636ebec51de5a" style="width: 100.0%; height: 100.0%;">urban gym</div>`)[0];
                popup_4bd02894b0de54dccd9649d0e2eba130.setContent(html_b2def93fa1fa56cfc53636ebec51de5a);
            
        

        marker_8b86c4f835d0e429a36df43ab2bb4754.bindPopup(popup_4bd02894b0de54dccd9649d0e2eba130)
        ;

        
    
    
            var marker_84dda96e15bd8d68474a1218d1664b8c = L.marker(
                [-6.878724679388998, 107.61652133410841],
                {}
            ).addTo(map_09fdd3d7a2d88fcd8a8cf38932721128);
        
    
        var popup_729afa7f7bd9147ff2f17444a2ba3f74 = L.popup({"maxWidth": "100%"});

        
            
                var html_5b9be01acff1ec28eaf884b889f6a185 = $(`<div id="html_5b9be01acff1ec28eaf884b889f6a185" style="width: 100.0%; height: 100.0%;">pintu dagas</div>`)[0];
                popup_729afa7f7bd9147ff2f17444a2ba3f74.setContent(html_5b9be01acff1ec28eaf884b889f6a185);
            
        

        marker_84dda96e15bd8d68474a1218d1664b8c.bindPopup(popup_729afa7f7bd9147ff2f17444a2ba3f74)
        ;

        
    
    
            var poly_line_dc3e2fa5e6890b3105550e39875ff575 = L.polyline(
                [[-6.879290656604597, 107.61258245513986], [-6.879319790375955, 107.61283800273434]],
                {"bubblingMouseEvents": true, "color": "orange", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "orange", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_09fdd3d7a2d88fcd8a8cf38932721128);
        
    
            var poly_line_ea16dde5f8d5ae908c873f789613e326 = L.polyline(
                [[-6.879290656604597, 107.61258245513986], [-6.879616251410727, 107.61202593243291]],
                {"bubblingMouseEvents": true, "color": "orange", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "orange", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_09fdd3d7a2d88fcd8a8cf38932721128);
        
    
            var poly_line_9fdb33453db163b894d8951ef9557005 = L.polyline(
                [[-6.879290656604597, 107.61258245513986], [-6.876734, 107.612927]],
                {"bubblingMouseEvents": true, "color": "orange", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "orange", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_09fdd3d7a2d88fcd8a8cf38932721128);
        
    
            var poly_line_dafbc42a4f9a1573d0259d3716ebd471 = L.polyline(
                [[-6.879319790375955, 107.61283800273434], [-6.879807224382633, 107.61430888221496]],
                {"bubblingMouseEvents": true, "color": "orange", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "orange", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_09fdd3d7a2d88fcd8a8cf38932721128);
        
    
            var poly_line_55cd4bbb6fba4b462801c37f71a7ec07 = L.polyline(
                [[-6.879319790375955, 107.61283800273434], [-6.8783213811870265, 107.61321340059672]],
                {"bubblingMouseEvents": true, "color": "orange", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "orange", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_09fdd3d7a2d88fcd8a8cf38932721128);
        
    
            var poly_line_ffea7a5355edb3449747f2a6f6ac29cf = L.polyline(
                [[-6.879616251410727, 107.61202593243291], [-6.882836344622385, 107.61167076619141]],
                {"bubblingMouseEvents": true, "color": "orange", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "orange", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_09fdd3d7a2d88fcd8a8cf38932721128);
        
    
            var poly_line_759a143e635940fb7717434a48206f20 = L.polyline(
                [[-6.879807224382633, 107.61430888221496], [-6.879935086874405, 107.61475841837175]],
                {"bubblingMouseEvents": true, "color": "orange", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "orange", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_09fdd3d7a2d88fcd8a8cf38932721128);
        
    
            var poly_line_fb4295a6966609caab78a2c26b023509 = L.polyline(
                [[-6.876734, 107.612927], [-6.8764852225931214, 107.61207900302091]],
                {"bubblingMouseEvents": true, "color": "orange", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "orange", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_09fdd3d7a2d88fcd8a8cf38932721128);
        
    
            var poly_line_f3a95916ebae74e892a166955103039c = L.polyline(
                [[-6.882836344622385, 107.61167076619141], [-6.882910049424211, 107.61125540465267]],
                {"bubblingMouseEvents": true, "color": "orange", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "orange", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_09fdd3d7a2d88fcd8a8cf38932721128);
        
    
            var poly_line_23450906e1b3844e5e8a7972e01bf7b5 = L.polyline(
                [[-6.882910049424211, 107.61125540465267], [-6.883378937465031, 107.61125103709509]],
                {"bubblingMouseEvents": true, "color": "orange", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "orange", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_09fdd3d7a2d88fcd8a8cf38932721128);
        
    
            var poly_line_5e4ec1ad09d439c871b1599265b7db5f = L.polyline(
                [[-6.883734705833403, 107.61123685708792], [-6.883378937465031, 107.61125103709509]],
                {"bubblingMouseEvents": true, "color": "orange", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "orange", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_09fdd3d7a2d88fcd8a8cf38932721128);
        
    
            var poly_line_04e2677fb9fcf11c7b038b30626ca34d = L.polyline(
                [[-6.883378937465031, 107.61125103709509], [-6.883382862085628, 107.61200628053746]],
                {"bubblingMouseEvents": true, "color": "orange", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "orange", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_09fdd3d7a2d88fcd8a8cf38932721128);
        
    
            var poly_line_51562267939eb449e445c0f69960783c = L.polyline(
                [[-6.883382862085628, 107.61200628053746], [-6.884427161864515, 107.61379914556336]],
                {"bubblingMouseEvents": true, "color": "orange", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "orange", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_09fdd3d7a2d88fcd8a8cf38932721128);
        
    
            var poly_line_ae3fb98c8a6867db13c23230ddb415e8 = L.polyline(
                [[-6.884427161864515, 107.61379914556336], [-6.883686378119053, 107.61405563792717]],
                {"bubblingMouseEvents": true, "color": "orange", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "orange", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_09fdd3d7a2d88fcd8a8cf38932721128);
        
    
            var poly_line_7a14b7a90778a2c948251e97c5e6da4d = L.polyline(
                [[-6.883686378119053, 107.61405563792717], [-6.882448573870303, 107.61391896977317]],
                {"bubblingMouseEvents": true, "color": "orange", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "orange", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_09fdd3d7a2d88fcd8a8cf38932721128);
        
    
            var poly_line_db17f54a1aa82a22dfa0d17095e837db = L.polyline(
                [[-6.882448573870303, 107.61391896977317], [-6.879935086874405, 107.61475841837175]],
                {"bubblingMouseEvents": true, "color": "orange", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "orange", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_09fdd3d7a2d88fcd8a8cf38932721128);
        
    
            var poly_line_f980581f29b9bee219645668dac36573 = L.polyline(
                [[-6.8764852225931214, 107.61207900302091], [-6.87594358956996, 107.61223036489227]],
                {"bubblingMouseEvents": true, "color": "orange", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "orange", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_09fdd3d7a2d88fcd8a8cf38932721128);
        
    
            var poly_line_4890efb19192b4503315bb084ad455ba = L.polyline(
                [[-6.87594358956996, 107.61223036489227], [-6.87548812614364, 107.61236063121113]],
                {"bubblingMouseEvents": true, "color": "orange", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "orange", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_09fdd3d7a2d88fcd8a8cf38932721128);
        
    
            var poly_line_ac28aadd6c318a28002d7c2e0fdea466 = L.polyline(
                [[-6.87594358956996, 107.61223036489227], [-6.877107550223327, 107.61472524305452]],
                {"bubblingMouseEvents": true, "color": "orange", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "orange", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_09fdd3d7a2d88fcd8a8cf38932721128);
        
    
            var poly_line_0925597f8d034f65c5150e46768747ac = L.polyline(
                [[-6.87548812614364, 107.61236063121113], [-6.8756134543451575, 107.6131335337327]],
                {"bubblingMouseEvents": true, "color": "orange", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "orange", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_09fdd3d7a2d88fcd8a8cf38932721128);
        
    
            var poly_line_e90f45f679ec4cdd8a0fef5b1f3ea9da = L.polyline(
                [[-6.877107550223327, 107.61472524305452], [-6.878318056126893, 107.61448180155028]],
                {"bubblingMouseEvents": true, "color": "orange", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "orange", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_09fdd3d7a2d88fcd8a8cf38932721128);
        
    
            var poly_line_4214ffab2a345024be8389f75ab41b63 = L.polyline(
                [[-6.8783213811870265, 107.61321340059672], [-6.878674921513658, 107.61435168305536]],
                {"bubblingMouseEvents": true, "color": "orange", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "orange", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_09fdd3d7a2d88fcd8a8cf38932721128);
        
    
            var poly_line_502cfd3fc4a76db5a14d13a688aa1431 = L.polyline(
                [[-6.878674921513658, 107.61435168305536], [-6.878318056126893, 107.61448180155028]],
                {"bubblingMouseEvents": true, "color": "orange", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "orange", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_09fdd3d7a2d88fcd8a8cf38932721128);
        
    
            var poly_line_93030114f2ae4b7b3febd5d826679c83 = L.polyline(
                [[-6.878318056126893, 107.61448180155028], [-6.8783914316229415, 107.61527413949476]],
                {"bubblingMouseEvents": true, "color": "orange", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "orange", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_09fdd3d7a2d88fcd8a8cf38932721128);
        
    
            var poly_line_6c91aaf47ea2f3dd5cff0d6373efa8a2 = L.polyline(
                [[-6.8783914316229415, 107.61527413949476], [-6.8775963166017, 107.61536715478714]],
                {"bubblingMouseEvents": true, "color": "orange", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "orange", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_09fdd3d7a2d88fcd8a8cf38932721128);
        
    
            var poly_line_a673a27194bede7dbd20f2d5b1551d63 = L.polyline(
                [[-6.8783914316229415, 107.61527413949476], [-6.878724679388998, 107.61652133410841]],
                {"bubblingMouseEvents": true, "color": "orange", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "orange", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_09fdd3d7a2d88fcd8a8cf38932721128);
        
    
            var poly_line_8b60f5541a35e875d27c207f3f9cea69 = L.polyline(
                [[-6.878724679388998, 107.61652133410841], [-6.8783914316229415, 107.61527413949476], [-6.878318056126893, 107.61448180155028], [-6.878674921513658, 107.61435168305536], [-6.8783213811870265, 107.61321340059672], [-6.879319790375955, 107.61283800273434], [-6.879290656604597, 107.61258245513986]],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "red", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_09fdd3d7a2d88fcd8a8cf38932721128);
        
</script>
</html>