<!DOCTYPE html>
<html>
<head>
    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.0/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_6f3560a7fabf973d16781a8ee21e9358 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
                .leaflet-container { font-size: 1rem; }
            </style>
        
</head>
<body>
    
    
            <div class="folium-map" id="map_6f3560a7fabf973d16781a8ee21e9358" ></div>
        
</body>
<script>
    
    
            var map_6f3560a7fabf973d16781a8ee21e9358 = L.map(
                "map_6f3560a7fabf973d16781a8ee21e9358",
                {
                    center: [-6.879957644004078, 107.61387909559816],
                    crs: L.CRS.EPSG3857,
                    zoom: 17,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_f273ba60568ae7a29a2067821e8be2c2 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca target=\"_blank\" href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca target=\"_blank\" href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_6f3560a7fabf973d16781a8ee21e9358);
        
    
            var marker_ad3266452a387058e63c97fcfd4d8e17 = L.marker(
                [-6.879290656604597, 107.61258245513986],
                {}
            ).addTo(map_6f3560a7fabf973d16781a8ee21e9358);
        
    
        var popup_75c5142d2b410bead5cfb78700bfb753 = L.popup({"maxWidth": "100%"});

        
            
                var html_e8acaac549e2f99012a7fbcd7d861193 = $(`<div id="html_e8acaac549e2f99012a7fbcd7d861193" style="width: 100.0%; height: 100.0%;">simpang sadikin</div>`)[0];
                popup_75c5142d2b410bead5cfb78700bfb753.setContent(html_e8acaac549e2f99012a7fbcd7d861193);
            
        

        marker_ad3266452a387058e63c97fcfd4d8e17.bindPopup(popup_75c5142d2b410bead5cfb78700bfb753)
        ;

        
    
    
            var marker_d5e811fe0c6900625478ba41fd268bb7 = L.marker(
                [-6.879319790375955, 107.61283800273434],
                {}
            ).addTo(map_6f3560a7fabf973d16781a8ee21e9358);
        
    
        var popup_d3f931a5d9a014eddb20f31dfabbf3e2 = L.popup({"maxWidth": "100%"});

        
            
                var html_c0b4bd76b8aa72e0462ca566bc612a18 = $(`<div id="html_c0b4bd76b8aa72e0462ca566bc612a18" style="width: 100.0%; height: 100.0%;">simpang alpina</div>`)[0];
                popup_d3f931a5d9a014eddb20f31dfabbf3e2.setContent(html_c0b4bd76b8aa72e0462ca566bc612a18);
            
        

        marker_d5e811fe0c6900625478ba41fd268bb7.bindPopup(popup_d3f931a5d9a014eddb20f31dfabbf3e2)
        ;

        
    
    
            var marker_c2ee67403d5113c583e06af8119b5d2d = L.marker(
                [-6.879616251410727, 107.61202593243291],
                {}
            ).addTo(map_6f3560a7fabf973d16781a8ee21e9358);
        
    
        var popup_b9b89137fa948e9e0670290d0d75fc02 = L.popup({"maxWidth": "100%"});

        
            
                var html_1732c65812f70f4aa5fb3d328d1e19ac = $(`<div id="html_1732c65812f70f4aa5fb3d328d1e19ac" style="width: 100.0%; height: 100.0%;">simpang indomaret cisitu</div>`)[0];
                popup_b9b89137fa948e9e0670290d0d75fc02.setContent(html_1732c65812f70f4aa5fb3d328d1e19ac);
            
        

        marker_c2ee67403d5113c583e06af8119b5d2d.bindPopup(popup_b9b89137fa948e9e0670290d0d75fc02)
        ;

        
    
    
            var marker_fc5c92e9257ba23468a69229ce04a7ff = L.marker(
                [-6.879807224382633, 107.61430888221496],
                {}
            ).addTo(map_6f3560a7fabf973d16781a8ee21e9358);
        
    
        var popup_072f1a13fe10fd27a58e60261bed0345 = L.popup({"maxWidth": "100%"});

        
            
                var html_dc71b116d4640cef6789311a61bf422c = $(`<div id="html_dc71b116d4640cef6789311a61bf422c" style="width: 100.0%; height: 100.0%;">simpang asrama kidang pananjung itb</div>`)[0];
                popup_072f1a13fe10fd27a58e60261bed0345.setContent(html_dc71b116d4640cef6789311a61bf422c);
            
        

        marker_fc5c92e9257ba23468a69229ce04a7ff.bindPopup(popup_072f1a13fe10fd27a58e60261bed0345)
        ;

        
    
    
            var marker_2957c17cd627c81d08cd42b1203cb5f4 = L.marker(
                [-6.876734, 107.612927],
                {}
            ).addTo(map_6f3560a7fabf973d16781a8ee21e9358);
        
    
        var popup_4c30746c2ac2f82c1a31309e28739cf1 = L.popup({"maxWidth": "100%"});

        
            
                var html_ea2162c74afc6a5ac01c6eaa1f1754c5 = $(`<div id="html_ea2162c74afc6a5ac01c6eaa1f1754c5" style="width: 100.0%; height: 100.0%;">nasgor portugal</div>`)[0];
                popup_4c30746c2ac2f82c1a31309e28739cf1.setContent(html_ea2162c74afc6a5ac01c6eaa1f1754c5);
            
        

        marker_2957c17cd627c81d08cd42b1203cb5f4.bindPopup(popup_4c30746c2ac2f82c1a31309e28739cf1)
        ;

        
    
    
            var marker_8440b88b6d50ad435e161a1fbbdecc87 = L.marker(
                [-6.882836344622385, 107.61167076619141],
                {}
            ).addTo(map_6f3560a7fabf973d16781a8ee21e9358);
        
    
        var popup_88bfcf9ce8284ef14929a3d3b373edc3 = L.popup({"maxWidth": "100%"});

        
            
                var html_eeb7246de869fb881503b6ea3686d2d4 = $(`<div id="html_eeb7246de869fb881503b6ea3686d2d4" style="width: 100.0%; height: 100.0%;">simpang dermaga kopi</div>`)[0];
                popup_88bfcf9ce8284ef14929a3d3b373edc3.setContent(html_eeb7246de869fb881503b6ea3686d2d4);
            
        

        marker_8440b88b6d50ad435e161a1fbbdecc87.bindPopup(popup_88bfcf9ce8284ef14929a3d3b373edc3)
        ;

        
    
    
            var marker_f24c3680ad98a8d02fdf022809d339d7 = L.marker(
                [-6.882910049424211, 107.61125540465267],
                {}
            ).addTo(map_6f3560a7fabf973d16781a8ee21e9358);
        
    
        var popup_132827948f8ccb22914b00ee8bc0d065 = L.popup({"maxWidth": "100%"});

        
            
                var html_dcb8f113a7b4a0a145210e7a9c738382 = $(`<div id="html_dcb8f113a7b4a0a145210e7a9c738382" style="width: 100.0%; height: 100.0%;">simpang nasgor tombo lapar</div>`)[0];
                popup_132827948f8ccb22914b00ee8bc0d065.setContent(html_dcb8f113a7b4a0a145210e7a9c738382);
            
        

        marker_f24c3680ad98a8d02fdf022809d339d7.bindPopup(popup_132827948f8ccb22914b00ee8bc0d065)
        ;

        
    
    
            var marker_d434271b30e6a93c2cad19308057e39e = L.marker(
                [-6.883734705833403, 107.61123685708792],
                {}
            ).addTo(map_6f3560a7fabf973d16781a8ee21e9358);
        
    
        var popup_a0bee4dbd5ffe4bd81f030a347b3adf0 = L.popup({"maxWidth": "100%"});

        
            
                var html_186cdffa3003fd987e10d30718fa1671 = $(`<div id="html_186cdffa3003fd987e10d30718fa1671" style="width: 100.0%; height: 100.0%;">simpang sangkuring cisitu</div>`)[0];
                popup_a0bee4dbd5ffe4bd81f030a347b3adf0.setContent(html_186cdffa3003fd987e10d30718fa1671);
            
        

        marker_d434271b30e6a93c2cad19308057e39e.bindPopup(popup_a0bee4dbd5ffe4bd81f030a347b3adf0)
        ;

        
    
    
            var marker_b4ea1ccc214d3783dfca93b0147e7b2a = L.marker(
                [-6.883378937465031, 107.61125103709509],
                {}
            ).addTo(map_6f3560a7fabf973d16781a8ee21e9358);
        
    
        var popup_25888e720e086c6ebdaafc6dd205e21e = L.popup({"maxWidth": "100%"});

        
            
                var html_ee1d531bb605f6659705e85dc3956284 = $(`<div id="html_ee1d531bb605f6659705e85dc3956284" style="width: 100.0%; height: 100.0%;">simpang cisitu lama baru</div>`)[0];
                popup_25888e720e086c6ebdaafc6dd205e21e.setContent(html_ee1d531bb605f6659705e85dc3956284);
            
        

        marker_b4ea1ccc214d3783dfca93b0147e7b2a.bindPopup(popup_25888e720e086c6ebdaafc6dd205e21e)
        ;

        
    
    
            var marker_82a1ef05df6978339f13bf382bcd47e4 = L.marker(
                [-6.883382862085628, 107.61200628053746],
                {}
            ).addTo(map_6f3560a7fabf973d16781a8ee21e9358);
        
    
        var popup_f28006de2625346969abfab1a9548d91 = L.popup({"maxWidth": "100%"});

        
            
                var html_27ed92627274f9a34a3ab994f531f8a3 = $(`<div id="html_27ed92627274f9a34a3ab994f531f8a3" style="width: 100.0%; height: 100.0%;">simpang cisitu baru</div>`)[0];
                popup_f28006de2625346969abfab1a9548d91.setContent(html_27ed92627274f9a34a3ab994f531f8a3);
            
        

        marker_82a1ef05df6978339f13bf382bcd47e4.bindPopup(popup_f28006de2625346969abfab1a9548d91)
        ;

        
    
    
            var marker_19ef39e86e46dfe667290ce10fc06daf = L.marker(
                [-6.884427161864515, 107.61379914556336],
                {}
            ).addTo(map_6f3560a7fabf973d16781a8ee21e9358);
        
    
        var popup_a00c9d8fe1889eea095cbaa01e2120e8 = L.popup({"maxWidth": "100%"});

        
            
                var html_c4f8fb128221d6d7c5ca99eaa7edeeff = $(`<div id="html_c4f8fb128221d6d7c5ca99eaa7edeeff" style="width: 100.0%; height: 100.0%;">simpang cisitu dago</div>`)[0];
                popup_a00c9d8fe1889eea095cbaa01e2120e8.setContent(html_c4f8fb128221d6d7c5ca99eaa7edeeff);
            
        

        marker_19ef39e86e46dfe667290ce10fc06daf.bindPopup(popup_a00c9d8fe1889eea095cbaa01e2120e8)
        ;

        
    
    
            var marker_e4112b4bd55324df172f8698ab50355e = L.marker(
                [-6.883686378119053, 107.61405563792717],
                {}
            ).addTo(map_6f3560a7fabf973d16781a8ee21e9358);
        
    
        var popup_70ecb8c7f3ebe17ffeb7516fa7c78440 = L.popup({"maxWidth": "100%"});

        
            
                var html_00ed0249d10e46538b32607a994cbb8a = $(`<div id="html_00ed0249d10e46538b32607a994cbb8a" style="width: 100.0%; height: 100.0%;">simpang dago kidang pananjung</div>`)[0];
                popup_70ecb8c7f3ebe17ffeb7516fa7c78440.setContent(html_00ed0249d10e46538b32607a994cbb8a);
            
        

        marker_e4112b4bd55324df172f8698ab50355e.bindPopup(popup_70ecb8c7f3ebe17ffeb7516fa7c78440)
        ;

        
    
    
            var marker_847cf9d3247f63f9043df707044b696f = L.marker(
                [-6.882448573870303, 107.61391896977317],
                {}
            ).addTo(map_6f3560a7fabf973d16781a8ee21e9358);
        
    
        var popup_6855f2fb33ea658ee341839041699abf = L.popup({"maxWidth": "100%"});

        
            
                var html_30494d0febaff8edcc4acb409a1c5c80 = $(`<div id="html_30494d0febaff8edcc4acb409a1c5c80" style="width: 100.0%; height: 100.0%;">simpang kozi</div>`)[0];
                popup_6855f2fb33ea658ee341839041699abf.setContent(html_30494d0febaff8edcc4acb409a1c5c80);
            
        

        marker_847cf9d3247f63f9043df707044b696f.bindPopup(popup_6855f2fb33ea658ee341839041699abf)
        ;

        
    
    
            var marker_dbb81904a944c8ccec5027404683b72d = L.marker(
                [-6.879935086874405, 107.61475841837175],
                {}
            ).addTo(map_6f3560a7fabf973d16781a8ee21e9358);
        
    
        var popup_7562a38fd0b56f4fd6562e69e43c0b5c = L.popup({"maxWidth": "100%"});

        
            
                var html_98f95e46528ec39c895953ba5c8e0981 = $(`<div id="html_98f95e46528ec39c895953ba5c8e0981" style="width: 100.0%; height: 100.0%;">simpang cisgar</div>`)[0];
                popup_7562a38fd0b56f4fd6562e69e43c0b5c.setContent(html_98f95e46528ec39c895953ba5c8e0981);
            
        

        marker_dbb81904a944c8ccec5027404683b72d.bindPopup(popup_7562a38fd0b56f4fd6562e69e43c0b5c)
        ;

        
    
    
            var marker_b47c9c51ddb8549d37c72d0142095165 = L.marker(
                [-6.8764852225931214, 107.61207900302091],
                {}
            ).addTo(map_6f3560a7fabf973d16781a8ee21e9358);
        
    
        var popup_f297964296e7f7526b9761aca8fcc90f = L.popup({"maxWidth": "100%"});

        
            
                var html_c61ac5f74f97ff7c37de831378d1f0f5 = $(`<div id="html_c61ac5f74f97ff7c37de831378d1f0f5" style="width: 100.0%; height: 100.0%;">simpang cisitu indah 2 3</div>`)[0];
                popup_f297964296e7f7526b9761aca8fcc90f.setContent(html_c61ac5f74f97ff7c37de831378d1f0f5);
            
        

        marker_b47c9c51ddb8549d37c72d0142095165.bindPopup(popup_f297964296e7f7526b9761aca8fcc90f)
        ;

        
    
    
            var marker_31965576f892fe898a0304e6bfdd964e = L.marker(
                [-6.87594358956996, 107.61223036489227],
                {}
            ).addTo(map_6f3560a7fabf973d16781a8ee21e9358);
        
    
        var popup_1a715742beb87fd398fe33fc1294f84d = L.popup({"maxWidth": "100%"});

        
            
                var html_e7c6562eb5fca82d2932f7d7a4088940 = $(`<div id="html_e7c6562eb5fca82d2932f7d7a4088940" style="width: 100.0%; height: 100.0%;">simpang cisitsu indah 3 4</div>`)[0];
                popup_1a715742beb87fd398fe33fc1294f84d.setContent(html_e7c6562eb5fca82d2932f7d7a4088940);
            
        

        marker_31965576f892fe898a0304e6bfdd964e.bindPopup(popup_1a715742beb87fd398fe33fc1294f84d)
        ;

        
    
    
            var marker_1adf4bfbb90c59649b22501888434c94 = L.marker(
                [-6.87548812614364, 107.61236063121113],
                {}
            ).addTo(map_6f3560a7fabf973d16781a8ee21e9358);
        
    
        var popup_ac3879e97aa2cb328b7753a5341b3164 = L.popup({"maxWidth": "100%"});

        
            
                var html_2241b73cf983d527d9439d4a983cb183 = $(`<div id="html_2241b73cf983d527d9439d4a983cb183" style="width: 100.0%; height: 100.0%;">simpang cili korner</div>`)[0];
                popup_ac3879e97aa2cb328b7753a5341b3164.setContent(html_2241b73cf983d527d9439d4a983cb183);
            
        

        marker_1adf4bfbb90c59649b22501888434c94.bindPopup(popup_ac3879e97aa2cb328b7753a5341b3164)
        ;

        
    
    
            var marker_08bd8311e8236dfae2b17fd0ae7bd233 = L.marker(
                [-6.8756134543451575, 107.6131335337327],
                {}
            ).addTo(map_6f3560a7fabf973d16781a8ee21e9358);
        
    
        var popup_052ac07c1200f27af700cecc9c1eff6a = L.popup({"maxWidth": "100%"});

        
            
                var html_0b527aa0be8e277768e435fde7cfd076 = $(`<div id="html_0b527aa0be8e277768e435fde7cfd076" style="width: 100.0%; height: 100.0%;">gor cisitu</div>`)[0];
                popup_052ac07c1200f27af700cecc9c1eff6a.setContent(html_0b527aa0be8e277768e435fde7cfd076);
            
        

        marker_08bd8311e8236dfae2b17fd0ae7bd233.bindPopup(popup_052ac07c1200f27af700cecc9c1eff6a)
        ;

        
    
    
            var marker_111c9846d431356017abee13bbdba8dc = L.marker(
                [-6.877107550223327, 107.61472524305452],
                {}
            ).addTo(map_6f3560a7fabf973d16781a8ee21e9358);
        
    
        var popup_0e224a16df95d4455fcc0139331b8e3e = L.popup({"maxWidth": "100%"});

        
            
                var html_b620bb45705da7c616dbf2c112d69068 = $(`<div id="html_b620bb45705da7c616dbf2c112d69068" style="width: 100.0%; height: 100.0%;">simpang cisitu indah dagas</div>`)[0];
                popup_0e224a16df95d4455fcc0139331b8e3e.setContent(html_b620bb45705da7c616dbf2c112d69068);
            
        

        marker_111c9846d431356017abee13bbdba8dc.bindPopup(popup_0e224a16df95d4455fcc0139331b8e3e)
        ;

        
    
    
            var marker_ec771da401bc6f7825718260b17c5a8c = L.marker(
                [-6.8783213811870265, 107.61321340059672],
                {}
            ).addTo(map_6f3560a7fabf973d16781a8ee21e9358);
        
    
        var popup_8e772425bb49a36566aac889a76ef419 = L.popup({"maxWidth": "100%"});

        
            
                var html_d19dcceb5204832afea9addedd8edfa6 = $(`<div id="html_d19dcceb5204832afea9addedd8edfa6" style="width: 100.0%; height: 100.0%;">simpang alpina dagas 4</div>`)[0];
                popup_8e772425bb49a36566aac889a76ef419.setContent(html_d19dcceb5204832afea9addedd8edfa6);
            
        

        marker_ec771da401bc6f7825718260b17c5a8c.bindPopup(popup_8e772425bb49a36566aac889a76ef419)
        ;

        
    
    
            var marker_9a5c46acc0277dd700aca404176a8c97 = L.marker(
                [-6.878674921513658, 107.61435168305536],
                {}
            ).addTo(map_6f3560a7fabf973d16781a8ee21e9358);
        
    
        var popup_6bf5ca09f247e83daf087c1d3125e206 = L.popup({"maxWidth": "100%"});

        
            
                var html_2ee74dab8e36ca3f1fe28ef291e7f107 = $(`<div id="html_2ee74dab8e36ca3f1fe28ef291e7f107" style="width: 100.0%; height: 100.0%;">simpang dagas 2 4 5 </div>`)[0];
                popup_6bf5ca09f247e83daf087c1d3125e206.setContent(html_2ee74dab8e36ca3f1fe28ef291e7f107);
            
        

        marker_9a5c46acc0277dd700aca404176a8c97.bindPopup(popup_6bf5ca09f247e83daf087c1d3125e206)
        ;

        
    
    
            var marker_76859eff474c639e07ec954b2ad84b99 = L.marker(
                [-6.878318056126893, 107.61448180155028],
                {}
            ).addTo(map_6f3560a7fabf973d16781a8ee21e9358);
        
    
        var popup_4f7b7034a9937841974bdca80a47b5a7 = L.popup({"maxWidth": "100%"});

        
            
                var html_7882f48b8970dd866a7933af460c714d = $(`<div id="html_7882f48b8970dd866a7933af460c714d" style="width: 100.0%; height: 100.0%;">simpang dagas 2 raya</div>`)[0];
                popup_4f7b7034a9937841974bdca80a47b5a7.setContent(html_7882f48b8970dd866a7933af460c714d);
            
        

        marker_76859eff474c639e07ec954b2ad84b99.bindPopup(popup_4f7b7034a9937841974bdca80a47b5a7)
        ;

        
    
    
            var marker_f6604aab044970ca2db1b82451d31360 = L.marker(
                [-6.8783914316229415, 107.61527413949476],
                {}
            ).addTo(map_6f3560a7fabf973d16781a8ee21e9358);
        
    
        var popup_27965846852bd6dae3a91b52305b7aa3 = L.popup({"maxWidth": "100%"});

        
            
                var html_2f6725fe550d1e5a973cd48ff32ff8d0 = $(`<div id="html_2f6725fe550d1e5a973cd48ff32ff8d0" style="width: 100.0%; height: 100.0%;">simpang dagas gym</div>`)[0];
                popup_27965846852bd6dae3a91b52305b7aa3.setContent(html_2f6725fe550d1e5a973cd48ff32ff8d0);
            
        

        marker_f6604aab044970ca2db1b82451d31360.bindPopup(popup_27965846852bd6dae3a91b52305b7aa3)
        ;

        
    
    
            var marker_977c6814db8dff94a321ab160b872b48 = L.marker(
                [-6.8775963166017, 107.61536715478714],
                {}
            ).addTo(map_6f3560a7fabf973d16781a8ee21e9358);
        
    
        var popup_aa0f248fda25dc6847b78f1347138134 = L.popup({"maxWidth": "100%"});

        
            
                var html_42ea2b1ee69f63fc41a1711ef800f0cc = $(`<div id="html_42ea2b1ee69f63fc41a1711ef800f0cc" style="width: 100.0%; height: 100.0%;">urban gym</div>`)[0];
                popup_aa0f248fda25dc6847b78f1347138134.setContent(html_42ea2b1ee69f63fc41a1711ef800f0cc);
            
        

        marker_977c6814db8dff94a321ab160b872b48.bindPopup(popup_aa0f248fda25dc6847b78f1347138134)
        ;

        
    
    
            var marker_190df80ef422da3a339b69219815c086 = L.marker(
                [-6.878724679388998, 107.61652133410841],
                {}
            ).addTo(map_6f3560a7fabf973d16781a8ee21e9358);
        
    
        var popup_a3b03f1ba0eccba359fb81f2c9871795 = L.popup({"maxWidth": "100%"});

        
            
                var html_eea63a6eeb392383019229e2f3145afe = $(`<div id="html_eea63a6eeb392383019229e2f3145afe" style="width: 100.0%; height: 100.0%;">pintu dagas</div>`)[0];
                popup_a3b03f1ba0eccba359fb81f2c9871795.setContent(html_eea63a6eeb392383019229e2f3145afe);
            
        

        marker_190df80ef422da3a339b69219815c086.bindPopup(popup_a3b03f1ba0eccba359fb81f2c9871795)
        ;

        
    
    
            var poly_line_b2dbe2ad6889c0095f4d5dec863416d4 = L.polyline(
                [[-6.879290656604597, 107.61258245513986], [-6.879319790375955, 107.61283800273434]],
                {"bubblingMouseEvents": true, "color": "orange", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "orange", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_6f3560a7fabf973d16781a8ee21e9358);
        
    
            var poly_line_4ff5f2deacbef6ee301b2c0d2c0700a7 = L.polyline(
                [[-6.879290656604597, 107.61258245513986], [-6.879616251410727, 107.61202593243291]],
                {"bubblingMouseEvents": true, "color": "orange", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "orange", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_6f3560a7fabf973d16781a8ee21e9358);
        
    
            var poly_line_bd9314781fb64274cddd30e136b104ca = L.polyline(
                [[-6.879290656604597, 107.61258245513986], [-6.876734, 107.612927]],
                {"bubblingMouseEvents": true, "color": "orange", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "orange", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_6f3560a7fabf973d16781a8ee21e9358);
        
    
            var poly_line_48b38d8e27dcb0c20fc8d8646a2c9182 = L.polyline(
                [[-6.879319790375955, 107.61283800273434], [-6.879807224382633, 107.61430888221496]],
                {"bubblingMouseEvents": true, "color": "orange", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "orange", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_6f3560a7fabf973d16781a8ee21e9358);
        
    
            var poly_line_6868ff9b1295b72e52c1b78a577ba6ce = L.polyline(
                [[-6.879319790375955, 107.61283800273434], [-6.8783213811870265, 107.61321340059672]],
                {"bubblingMouseEvents": true, "color": "orange", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "orange", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_6f3560a7fabf973d16781a8ee21e9358);
        
    
            var poly_line_6e5aa45c0f536b62b82d2b699013d9f4 = L.polyline(
                [[-6.879616251410727, 107.61202593243291], [-6.882836344622385, 107.61167076619141]],
                {"bubblingMouseEvents": true, "color": "orange", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "orange", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_6f3560a7fabf973d16781a8ee21e9358);
        
    
            var poly_line_df2a03c662838fbae72b6b93634d57ff = L.polyline(
                [[-6.879807224382633, 107.61430888221496], [-6.879935086874405, 107.61475841837175]],
                {"bubblingMouseEvents": true, "color": "orange", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "orange", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_6f3560a7fabf973d16781a8ee21e9358);
        
    
            var poly_line_00f315cc4abf7cb9ef446866b35e6a1b = L.polyline(
                [[-6.876734, 107.612927], [-6.8764852225931214, 107.61207900302091]],
                {"bubblingMouseEvents": true, "color": "orange", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "orange", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_6f3560a7fabf973d16781a8ee21e9358);
        
    
            var poly_line_18801f73fca52365889696c945953553 = L.polyline(
                [[-6.882836344622385, 107.61167076619141], [-6.882910049424211, 107.61125540465267]],
                {"bubblingMouseEvents": true, "color": "orange", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "orange", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_6f3560a7fabf973d16781a8ee21e9358);
        
    
            var poly_line_1e5c36c7625e02c2e52da4b501279751 = L.polyline(
                [[-6.882910049424211, 107.61125540465267], [-6.883378937465031, 107.61125103709509]],
                {"bubblingMouseEvents": true, "color": "orange", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "orange", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_6f3560a7fabf973d16781a8ee21e9358);
        
    
            var poly_line_cde99d0c35b2e43a366628b8ab1d1673 = L.polyline(
                [[-6.883734705833403, 107.61123685708792], [-6.883378937465031, 107.61125103709509]],
                {"bubblingMouseEvents": true, "color": "orange", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "orange", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_6f3560a7fabf973d16781a8ee21e9358);
        
    
            var poly_line_36a3b70db3ed7373279f00e46ce1882f = L.polyline(
                [[-6.883378937465031, 107.61125103709509], [-6.883382862085628, 107.61200628053746]],
                {"bubblingMouseEvents": true, "color": "orange", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "orange", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_6f3560a7fabf973d16781a8ee21e9358);
        
    
            var poly_line_8c699b9543e9bbda1a574599b3e9dd01 = L.polyline(
                [[-6.883382862085628, 107.61200628053746], [-6.884427161864515, 107.61379914556336]],
                {"bubblingMouseEvents": true, "color": "orange", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "orange", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_6f3560a7fabf973d16781a8ee21e9358);
        
    
            var poly_line_775de9a466fa2cfdee8796323b3c2f6b = L.polyline(
                [[-6.884427161864515, 107.61379914556336], [-6.883686378119053, 107.61405563792717]],
                {"bubblingMouseEvents": true, "color": "orange", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "orange", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_6f3560a7fabf973d16781a8ee21e9358);
        
    
            var poly_line_817c11868b4f8bb22d6cd6b6ba6dd761 = L.polyline(
                [[-6.883686378119053, 107.61405563792717], [-6.882448573870303, 107.61391896977317]],
                {"bubblingMouseEvents": true, "color": "orange", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "orange", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_6f3560a7fabf973d16781a8ee21e9358);
        
    
            var poly_line_c304dff6913e465160f7c66f10bd7acb = L.polyline(
                [[-6.882448573870303, 107.61391896977317], [-6.879935086874405, 107.61475841837175]],
                {"bubblingMouseEvents": true, "color": "orange", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "orange", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_6f3560a7fabf973d16781a8ee21e9358);
        
    
            var poly_line_340d523a80b1df6426f9c4a2f92ba9a2 = L.polyline(
                [[-6.8764852225931214, 107.61207900302091], [-6.87594358956996, 107.61223036489227]],
                {"bubblingMouseEvents": true, "color": "orange", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "orange", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_6f3560a7fabf973d16781a8ee21e9358);
        
    
            var poly_line_8b53c58cc03eedd02cc1938f859e3da5 = L.polyline(
                [[-6.87594358956996, 107.61223036489227], [-6.87548812614364, 107.61236063121113]],
                {"bubblingMouseEvents": true, "color": "orange", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "orange", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_6f3560a7fabf973d16781a8ee21e9358);
        
    
            var poly_line_266f6ea31ffb1a9923cce6545947657c = L.polyline(
                [[-6.87594358956996, 107.61223036489227], [-6.877107550223327, 107.61472524305452]],
                {"bubblingMouseEvents": true, "color": "orange", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "orange", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_6f3560a7fabf973d16781a8ee21e9358);
        
    
            var poly_line_0ca86c3fa3e037b4f27ebd82ec04d2f8 = L.polyline(
                [[-6.87548812614364, 107.61236063121113], [-6.8756134543451575, 107.6131335337327]],
                {"bubblingMouseEvents": true, "color": "orange", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "orange", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_6f3560a7fabf973d16781a8ee21e9358);
        
    
            var poly_line_25d8714c8871152813123ead45188c65 = L.polyline(
                [[-6.877107550223327, 107.61472524305452], [-6.878318056126893, 107.61448180155028]],
                {"bubblingMouseEvents": true, "color": "orange", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "orange", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_6f3560a7fabf973d16781a8ee21e9358);
        
    
            var poly_line_b2c07c45a24971ec78fa3fdfe357e483 = L.polyline(
                [[-6.8783213811870265, 107.61321340059672], [-6.878674921513658, 107.61435168305536]],
                {"bubblingMouseEvents": true, "color": "orange", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "orange", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_6f3560a7fabf973d16781a8ee21e9358);
        
    
            var poly_line_3d3b66b50cac437def45d3a20bfd303c = L.polyline(
                [[-6.878674921513658, 107.61435168305536], [-6.878318056126893, 107.61448180155028]],
                {"bubblingMouseEvents": true, "color": "orange", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "orange", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_6f3560a7fabf973d16781a8ee21e9358);
        
    
            var poly_line_98d35e3cc1001a311a99f4216a217332 = L.polyline(
                [[-6.878318056126893, 107.61448180155028], [-6.8783914316229415, 107.61527413949476]],
                {"bubblingMouseEvents": true, "color": "orange", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "orange", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_6f3560a7fabf973d16781a8ee21e9358);
        
    
            var poly_line_3013d3ee33022f9c9a51b78b68b4ee8c = L.polyline(
                [[-6.8783914316229415, 107.61527413949476], [-6.8775963166017, 107.61536715478714]],
                {"bubblingMouseEvents": true, "color": "orange", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "orange", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_6f3560a7fabf973d16781a8ee21e9358);
        
    
            var poly_line_1c3189e89b75de335dd78b9cf8758483 = L.polyline(
                [[-6.8783914316229415, 107.61527413949476], [-6.878724679388998, 107.61652133410841]],
                {"bubblingMouseEvents": true, "color": "orange", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "orange", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_6f3560a7fabf973d16781a8ee21e9358);
        
    
            var poly_line_e8e8b3a7d8ee75b8462eba80eaf65605 = L.polyline(
                [[-6.8756134543451575, 107.6131335337327], [-6.87548812614364, 107.61236063121113], [-6.87594358956996, 107.61223036489227], [-6.877107550223327, 107.61472524305452], [-6.878318056126893, 107.61448180155028], [-6.8783914316229415, 107.61527413949476], [-6.878724679388998, 107.61652133410841]],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "red", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_6f3560a7fabf973d16781a8ee21e9358);
        
</script>
</html>